.dropbtnSS {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  

  .dropdownSS {
    position: fixed;
    display: inline-block;
    left: 930px;
  }