.head-one{
    position: fixed; 
    top: 0;
    width: 100%;
    left: 0px;
    background-color: white; 
    height: 90px;
}

.bar{
    position: fixed;
    left: 0;
    width: 100%;
    top: 85px; 
    height: 10px;
    background-color: #b3b337;  
}

.bar-two{
    position: fixed;
    left: 0;
    width: 100%;
    top: 95px; 
    height: 50px;
    background-color: #003e07;  
}


