
.dropbtnPB {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  

  .dropdownPB {
    position: fixed;
    display: inline-block;
    left: 30px;
    top: 201px;
    z-index: 1000;
  }
  
  
  .dropdown-contentPB {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 1730px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 5000;
    top: 100%;
    height: 45px;;
  }
  
  
  .dropdown-contentPB a {
    color: white;
    padding: 10px 25px;
    text-decoration: none;
    display: block;
    
  }
  
  .dropdown-contentPB a:hover {
    background-color: black;
    color: white;
    height: 45px;    
}
  
  .dropdownPB:hover .dropdown-contentPB  {display: block;}
  .dropdownPB:hover .dropdown-contentPB2  {display: block;}
  .dropdownPB:hover .dropbtnPB {background-color: #3e8e41;}

  .dropdown-contentPB2 {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 1730px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 5000;
    top: 95px;
    height: 45px;;
  }
  
  
  .dropdown-contentPB2 a {
    color: white;
    padding: 10px 25px;
    text-decoration: none;
    display: block;
    
  }
  
  .dropdown-contentPB2 a:hover {
    background-color: black;
    color: white;
    height: 45px;    
}
.dropdownPB:hover .dropdown-contentPB2 {
  visibility: visible;
}



  